body {
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #fff;
}

/* General styles */

h1 {
    font-size: 2rem;
    font-weight: normal;
}

a {
    font-size: 0.64rem;
    color: Aquamarine;
}